:root {
    --color-principal: #fcaa2b;
    --color-verde: #218c92;
    --color-verde-oscuro: #176468;
    --color-beige-claro: #fef3e8;

}

body {
    min-height: 100vh;
}

.fondo {
    background-image: url('../img/fondos/fondo-waves2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -100px;
}

.texto-principal {
    color: var(--color-principal) !important;
}

.texto-verde {
    color: var(--color-verde) !important;
}

.btn-color {
    background-color: var(--color-verde);
    color: white !important;
    transition: all 200ms;
}

.btn-color:hover {
    background-color: var(--color-verde-oscuro);
    scale: 1.02;
}

.btn-color:active {
    background-color: var(--color-verde) !important;
}

.btn-outline-primary {
    color: var(--color-verde);
    border-color: var(--color-verde) !important;
}

.btn-outline-primary:hover {
    color: white;
    background-color: var(--color-verde-oscuro);
}

.btn-outline-primary:active {
    background-color: var(--color-verde) !important;
}


.navbar {
    background-color: #ffffff !important;
    border-radius: 0 0 35px 35px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
}

.footer-puppet {
    background: var(--color-verde);
    color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.4);
    margin-top: 80px;
}

.logo-footer {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin: 0;
}

.slogan-footer {
    font-size: 0.95rem;
    color: #fffce9;
    margin-top: 10px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links a {
    text-decoration: none;
    font-weight: 600;
    color: white;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: var(--color-principal);
}


.sombra {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.233);
}

.swiper-pagination {
    position: relative !important;
    bottom: auto !important;
    margin-top: 1rem;
}

.swiper-pagination-bullet-active {
    background-color: var(--color-verde) !important;
}

.nav-link .bi {
    color: var(--color-verde);
}

.nav-link .bi:hover {
    color: var(--color-verde-oscuro);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;utf8,<svg fill='%23218c92' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='none' d='M4 7h22v2H4zm0 7h22v2H4zm0 7h22v2H4z'/></svg>");
}

.navbar-toggler {
    border: 2px solid #ffffff00;
    transition: all 100ms ease-in-out;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] {
    border-color: var(--color-verde);
}

.nav-link {
    color: var(--color-verde);
}

.nav-link:hover {
    color: var(--color-verde-oscuro);
}

.img-container {
    max-width: 450px;
    width: 100%;
}

.botones-tienda {
    margin-top: 250px;
}

@media (max-width: 1083px) {
    .botones-tienda {
        margin-top: 110px;
    }
}

@media (max-width: 767px) {
    .img-container {
        max-width: 100%;
        /* para pantallas chicas */
    }

    .botones-tienda {
        margin-top: 20px;
    }

    .contenedor {
        width: 100%;
        align-items: center !important;
        justify-content: center !important;
    }

}

@media (max-width: 600px) {
    .botones-tienda {
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
    }

    .contenedor {
        align-items: center !important;
        justify-content: center !important;
    }
}

.active {
    background-color: var(--color-principal) !important;
    border-color: var(--color-principal) !important;
}

.form-check-input {
    transition: all 200ms;
}

.form-check-input:checked {
    background-color: var(--color-verde);
    /* Azul Bootstrap por defecto */
    border-color: var(--color-verde);
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.5);
    border-color: #28a745;
}

.btn-outline-secondary {
    color: var(--color-verde);
    border-color: var(--color-verde);
}

.btn-outline-secondary:hover {
    background-color: var(--color-verde);
}

.bg-color-beige {
    background-color: var(--color-beige-claro);
}

.turnos {
    background-color: white;
    border: solid 1px rgb(201, 201, 201);

    padding: 20px;
    width: 400px;
    margin: 0 auto;
    border-radius: 15px;
    color: #218c92;
    font-family: sans-serif;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.mascota-btn {
    /* estilos base */
    cursor: pointer;
    background-color: #bababa;
    color: white;
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 16px;
    user-select: none;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.mascota-btn:hover {
    background-color: var(--color-beige-claro);
    color: var(--color-verde-oscuro);
    border: solid 1px var(--color-principal);
}

.mascota-btn input[type="radio"] {
    display: none;
}

.mascota-btn.selected {
    background-color: var(--color-beige-claro);
    color: var(--color-verde-oscuro);
    box-shadow: 0 0 15px var(--color-principal);
}

.pasos {
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: rgb(241, 236, 236);
    padding: 10px;
    width: fit-content;
    height: fit-content;
    align-items: center;
    margin: 50px auto 0 auto;
    border-radius: 40px;
    overflow: hidden;
    flex-wrap: wrap; /* Para que los items puedan bajar si no hay espacio */
}

.pasos p {
    margin: 0;
}

.paso {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bababa;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 16px;
    padding: 15px;
    border-radius: 25px;
    width: 160px;
    text-align: center;
    line-height: 1;
    transition: all 0.3s ease;
}

/* Media query para pantallas pequeñas */
@media (max-width: 600px) {
    .pasos {
        flex-direction: column;
        gap: 10px;
        width: 90vw;  /* que tome casi todo el ancho */
        margin: 20px auto;
        border-radius: 20px;
        padding: 15px;
    }
    .paso {
        width: 100%;  /* ocupa todo el ancho del contenedor */
        font-size: 14px;
        padding: 10px;
        border-radius: 15px;
    }
}


body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}


.boton-turno:hover {
    background-color: #176468;
}


.titulo {
    font-size: 12px;
    margin: 0 auto;
    margin-bottom: 50px;
    /* 👈 Esto lo centra horizontalmente */
    text-align: center;
    /* 👈 Esto centra el texto dentro */
    color: #218c92;
    /* Opcional: para que se lea bien sobre el fondo */
    font-family: sans-serif;
}

.contenido {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* 👈 cambia de 'center' a 'flex-start' */
    align-items: center;
    margin-top: 50px;
    /* 👈 empuja el contenido un poco hacia abajo */
}